Importamos las librerías Pandas y Numpy

In [1]:
import pandas as pd
import numpy as np

### Step 2. Tomaremos el fichero en [esta URL](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y lo leeremos como un dataframe.

Pista: [read_csv](https://numpy.org/doc/stable/user/absolute_beginners.html#importing-and-exporting-a-csv)

In [5]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

# Leer el archivo CSV desde la URL y convertirlo en un DataFrame
df_chipotle = pd.read_csv(url, sep="\t")

# Mostrar las primeras filas del DataFrame
df_chipotle.head(25)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39

In [10]:
#1ero voy a limpiar la columna item_price quitandole el signo $
df_chipotle_clean = df_chipotle.copy() 

df_chipotle_clean['item_price'] = df_chipotle_clean['item_price'].str.replace('$', '').astype(float)

df_chipotle_clean.head(25)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25
10,5,1,Chips and Guacamole,NaN,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
14,7,1,Chips and Guacamole,NaN,4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
18,9,2,Canned Soda,[Sprite],2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
20,10,1,Chips and Guacamole,NaN,4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
24,12,1,Izze,[Grapefruit],3.39

### Step 3. Veamos los tipos de datos. ¿Podríamos obtener el producto de mayor precio?

In [18]:
### Step 3. Veamos los tipos de datos. ¿Podríamos obtener el producto de mayor precio?

#aqui obtengo la fila a traves del indice
indice_max_precio = df_chipotle_clean['item_price'].idxmax()

indice_max_precio

producto_mas_caro = df_chipotle_clean.loc[indice_max_precio]

producto_mas_caro

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

### Step 4. ¿Qué productos cuestan más de $10?

In [31]:
### Step 4. ¿Qué productos cuestan más de $10?

# aqui voy a filtrar las filas donde quantity es igual a 1 y item_price es mayor o igual a $10
productos_filtrados_cantidad_precio = df_chipotle_clean[(df_chipotle_clean['quantity'] == 1) & (df_chipotle_clean['item_price'] >= 10)]

# Calcular el total de esos productos
total_productos = len(productos_filtrados_cantidad_precio)

print(f"Son {total_productos} productos con precios mayores de $10")

Son 997 productos con precios mayores de $10

### Step 4.1: ¿Y cuántos pedidos se han hecho con un producto de más de 10$? ¿Es lo mismo?

### Si es lo mismo que el punto 4, ya que para obtener el punto cuatro debo filtrar por quantity que sean de 1 prodcuto

In [27]:
print(f"Son {total_productos} pedidos con 1 producto, con precios mayores de $10")

Son 997 pedidos con 1 producto, con precios mayores de $10

### Step 4.2: ¿Y cuántos pedidos se han hecho de más de 10$? ¿Es lo mismo?

### No es lo mismo, ya que aqui estamos hablando de solo del pedido de más de 10$

In [29]:
### Step 4.2: ¿Y cuántos pedidos se han hecho de más de 10$? ¿Es lo mismo?

# aqui voy a filtrar las filas donde item_price es mayor o igual a $10
productos_filtrados_precio = df_chipotle_clean[(df_chipotle_clean['item_price'] >= 10)]

# Calcular el total de esos productos
total_productos = len(productos_filtrados_precio)

print(f"Son {total_productos} pedidos con precios mayores de $10")

Son 1130 pedidos con precios mayores de $10

### Step 4.3: ¿Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? ¿Es lo mismo?

No es lo mismo, ya que la busqueda se centrara  por item_name dentro del dataframe del punto 4, productos_filtrados_cantidad_precio

In [69]:
### Step 4.3: ¿Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? ¿Es lo mismo?

#aqui creo el grupo por item_name y que posean el mismo item_price
productos_agrupados = df_chipotle_clean.groupby(['item_name', 'item_price']).size().reset_index(name='count')

#aqui filtro a los item_price mayor a 10
productos_agrupados = productos_agrupados[productos_agrupados['item_price'] > 10]

productos_agrupados

             item_name  item_price  count
1    6 Pack Soft Drink       12.98      1
5        Barbacoa Bowl       11.48      6
6        Barbacoa Bowl       11.49      1
7        Barbacoa Bowl       11.75     20
11    Barbacoa Burrito       11.08      1
..                 ...         ...    ...
199     Veggie Burrito       11.25     32
200     Veggie Burrito       33.75      1
204  Veggie Salad Bowl       11.25     10
207  Veggie Soft Tacos       11.25      2
208  Veggie Soft Tacos       16.98      1

[97 rows x 3 columns]

In [70]:
#aqui cuento el total de los agrupados
total_contado = len(productos_agrupados)

print(f"El total son {total_contado} pedidos se ha pagado más de 10$ por un mismo producto")

El total son 97 pedidos se ha pagado más de 10$ por un mismo producto

### Step 5. ¿Qué precio tiene cada producto en distintos pedidos? ¿Hay productos con varios precios?

In [95]:
### Step 5. ¿Qué precio tiene cada producto en distintos pedidos? 

#aqui tengo que desglosar los quantity que son mayores a 1, ya que debo contar estos productos tambien 
# por separados para saber si poseen precios distintos.
#entonces pense en un apoyo y busque la forma de iterar dentro de un dataframe.

#esto fue lo que encontre


# Crear un diccionario para almacenar los precios únicos por producto
precios_unicos_por_producto = {}

# Iterar sobre cada fila del DataFrame
for index, row in df_chipotle_clean.iterrows():
    # Obtener el nombre del producto y el precio
    producto = row['item_name']
    precio = row['item_price']
    # Calcular el precio por unidad si la cantidad es mayor a 1
    if row['quantity'] > 1:
        precio /= row['quantity']
    # Agregar el precio a la lista correspondiente en el diccionario
    if producto in precios_unicos_por_producto:
        if precio not in precios_unicos_por_producto[producto]:
            precios_unicos_por_producto[producto].append(precio)
    else:
        precios_unicos_por_producto[producto] = [precio]

# Crear una lista de tuplas para almacenar los datos
datos = []

# Iterar sobre el diccionario y agregar los datos a la lista de tuplas
for producto, precios in precios_unicos_por_producto.items():
    if len(precios) > 1:
        for precio in precios:
            datos.append((producto, precio))

# Crear el DataFrame a partir de la lista de tuplas
df_resultado = pd.DataFrame(datos, columns=['item_name', 'item_price'])

# Mostrar el DataFrame resultante
df_resultado.head(25)

                item_name  item_price
0           Barbacoa Bowl       11.75
1           Barbacoa Bowl        8.99
2           Barbacoa Bowl       11.48
3           Barbacoa Bowl        9.25
4           Barbacoa Bowl        8.69
5           Barbacoa Bowl       11.49
6        Barbacoa Burrito        9.25
7        Barbacoa Burrito        8.99
8        Barbacoa Burrito       11.75
9        Barbacoa Burrito        8.69
10       Barbacoa Burrito       11.48
11       Barbacoa Burrito       11.08
12  Barbacoa Crispy Tacos        9.25
13  Barbacoa Crispy Tacos       11.75
14  Barbacoa Crispy Tacos        8.99
15  Barbacoa Crispy Tacos       11.48
16    Barbacoa Salad Bowl        9.39
17    Barbacoa Salad Bowl       11.89
18    Barbacoa Soft Tacos        9.25
19    Barbacoa Soft Tacos       11.75
20    Barbacoa Soft Tacos        8.99
21    Barbacoa Soft Tacos       11.48
22          Bottled Water        1.50
23          Bottled Water        1.09
24                   Bowl        7.40

In [79]:
### Step 5.b. ¿Hay productos con varios precios?

# Filtro el DataFrame a los productos con múltiples precios
productos_varios_precios_df = df_chipotle_clean[df_chipotle_clean.duplicated(subset=['item_name', 'item_price'], keep=False)]

# Mostrar el DataFrame resultante
productos_varios_precios_df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [80]:
#aqui cuento el total de productos con varios precios
total_contado_varios = len(productos_varios_precios_df)

print(f"El total son {total_contado_varios} productos con varios precios")

El total son 4571 productos con varios precios

### Step 6. Ordena el dataframe en base al nombre de producto (item name)

In [84]:
### Step 6. Ordena el dataframe en base al nombre de producto (item name)
# aqui ordeno el DataFrame en base al item_name
df_chipotle_clean.sort_values(by='item_name', inplace=True)
df_chipotle_clean.head(100)

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49
1026,422,1,6 Pack Soft Drink,[Sprite],6.49
1051,432,1,6 Pack Soft Drink,[Coke],6.49
2232,899,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2253,907,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",9.25
3017,1200,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.75
1032,425,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25
4485,1786,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.75
418,182,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

### Step 7. ¿Cuantas veces se ha pedido los productos más caros?

In [86]:
### Step 7. ¿Cuantas veces se ha pedido los productos más caros?
# 
# aqui busco el precio mas caro
precio_maximo = df_chipotle_clean['item_price'].max()

# aqui cuento cuántas veces aparece el precio máximo en la columna 'item_price'
veces_producto_mas_caro = (df_chipotle_clean['item_price'] == precio_maximo).sum()

print("Cantidad de veces que se ha pedido el producto más caro:", veces_producto_mas_caro)

Cantidad de veces que se ha pedido el producto más caro: 1

### Step 8. Veamos para el caso de Veggie Salad Bowl. Extrae esa información.

In [88]:
### Step 8. Veamos para el caso de Veggie Salad Bowl. Extrae esa información.

#aqui busco todos las filas que sean iguales a Veggie Salad Bowl
veggie_salad_bowl = df_chipotle_clean.loc[df_chipotle_clean['item_name'] == 'Veggie Salad Bowl']

veggie_salad_bowl

,order_id,quantity,item_name,choice_description,item_price
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75